/* @override http://dev.facilitydude.com/css/facilitydude.css */

body {
	font: 15px/22px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #666666;
	margin: 20%;
}

/* @group Typography */

a {
	color: #a21e18;
}

p {
	margin-bottom: 20px;
}

p a {
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 2px;
}

p a:hover {
	background-color: #a21e18;
	color: #fff;
}

b, strong {
	color: #333;
	font-weight: bold;
}

em, i {
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}



h1 {
	color: #a21e18;
	font-size: 25px;
	text-transform: uppercase;
	line-height: 25px;
	margin-bottom: 15px;
	clear: both;
}

#content h1 a {
	color: #a21e18;
	text-decoration: none;
}



/* @end */

/* @group Blog */

.social_links {
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 30px;
}

.social_links ul {
	border: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

.social_links li {
	display: inline;
	padding-left: 0px;
	background-image: none;
}

.social_links li a {
	line-height: 50px;
	font-size: 13px;
	color: #808080;
	text-decoration: none;
	margin-right: 20px;
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	
}

.social_links li a:hover {
	color: #4d4d4d;
	text-decoration: underline;
}

.social_links li a.subscribe {
	background: url(images/icon-rss.gif) no-repeat;
}

.social_links li a.email {
	background: url(images/icon-mail.gif) no-repeat;
}

.social_links li a.twitter {
	background: url(images/icon-twitter.gif) no-repeat;
}

.social_links li#tellfriendhover {
	position: relative;
}

#tellfriend {
	position: absolute;
	margin-top: -300px;
	left: 400px;
	color: #fff;
	padding: 15px;
	margin-bottom: 20px;
	width: 380px;
	z-index: 1;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #f2f2f2;
}

#tellfriend a.close {
	position: absolute;
	right: -10px;
	top: -10px;
	background: url(images/fancy_closebox.png) no-repeat;
	height: 30px;
	width: 30px;
	overflow: hidden;
	text-indent: -1000px;
}

#tellfriend form textarea {
	height: 80px;
}




/* @end */

/* @group Forms */


.contact-form {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #f2f2f2;
}

.contact-form form input.std_input {
	margin-bottom: 10px;
}

form label.clear {
	clear: both;
	float: left;
	margin-top: 10px;
}

form label.full {
	width: 99%;
}

form label.required {
	font-weight: bold;
}

form select {
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #6e6e6e;
}

form label {
	color: #808080;
	font-size: 14px;
}

form input.std_input,
form textarea {
	border: 1px solid #ccc;
	width: 97%;
	font: 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 5px;
	color: #6e6e6e;
}

form table {
	width: 100%;
}

form table input.std_input {
	width: 93%;
}

form table.three-col input.std_input {
	width: 90%;
}

form input.form_but {
	margin-top: 10px;
	background-color: #93ba31;
	border: 3px solid #afdd39;
	color: #fff;
	font: bold 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px 10px;
}

/* @end */